<!DOCTYPE html>
<div class="record container-fluid">
	<h3>脚本编辑</h3>
	<div>
		<div class="control-group inline-block">
			<label class="control-label inline-block"> 版本 </label>
			<div class="control-group inline-block {{versionError?'error':''}}">
				<div class="input-prepend" style="margin-bottom: 0">
					<input class="input-xlarge pull-right" type="text"
						ng-model="version" />
				</div>
			</div>
		</div>
		<div class="control-group inline-block">
			<button type="button" class="btn" tooltip-placement="top"
				uib-tooltip="保存" ng-click="save()">
				<i class="fa fa-save"></i>
			</button>
		</div>
		<div class="control-group inline-block" uib-dropdown>
			<button type="button" id="version-btn" class="btn btn-info"
				uib-dropdown-toggle>
				切换版本 <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" uib-dropdown-menu role="menu"
				aria-labelledby="version-btn">
				<li role="menuitem" ng-repeat="vs in scriptList" ng-click="switchScript(vs.id)"><a>{{vs.version}}</a></li>
			</ul>
		</div>
	</div>

	<form class="form-horizontal">
		<textarea id="editor" name="editor"></textarea>
	</form>

</div>
