# maven ignore
target/
*.jar
*.war
*.zip
*.tar
*.tar.gz
*.class
*.project

# eclipse ignore
.settings/
.classpath
target/
bin/


# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db

# else
.springBeans
