<div id="deleteNamespaceModal" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header panel-primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                    删除Namespace
                </h4>
            </div>
            <div class="modal-body form-horizontal">
                删除Namespace将导致实例获取不到此Namespace的配置，确定要删除吗?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    取消
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal"
                ng-click="doDeleteNamespace()">
                    确认
                </button>
            </div>
        </div>
    </div>
</div>
