<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <img class="navbar-brand side-bar-switch cursor-pointer" src="../../img/show_sidebar.png"
                 onMouseOver="this.style.background='#f1f2f7'"
                 onMouseOut="this.style.background='#fff'"
                 data-tooltip="tooltip" data-placement="bottom" title="显示导航栏"
                 ng-show="viewMode == 2 && !showSideBar"
                 ng-click="showSideBar = !showSideBar">
            <img class="navbar-brand side-bar-switch cursor-pointer" src="../../img/hide_sidebar.png"
                 onMouseOver="this.style.background='#f1f2f7'"
                 onMouseOut="this.style.background='#fff'"
                 data-tooltip="tooltip" data-placement="bottom" title="隐藏导航栏"
                 ng-show="viewMode == 2 && showSideBar"
                 ng-click="showSideBar = !showSideBar">
            <a class="navbar-brand logo" href="/">
                <b>配置中心</b>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{pageSetting.wikiAddress}}" target="_blank">
                        <span class="glyphicon glyphicon-question-sign"></span> 帮助
                    </a>
                </li>

            </ul>

            <div class="navbar-form navbar-right form-inline" role="search">
                <div class="form-group">
                    <input type="text" class="form-control search-input" placeholder="搜索项目(AppId、项目名)"
                           style="width: 350px"
                           ng-model="searchKey" ng-change="changeSearchKey()" ng-focus="changeSearchKey()">

                    <div class="row app-list" ng-show="shouldShowAppList">
                        <div ng-repeat="app in copyedApps" class="app-item" ng-class="{'app-selected':app.selected}"
                             ng-click="selectApp(app)">{{app.appId}} / {{app.name}}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</nav>
