<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.open.capacity.srenewSer.dao.AcceptTempDao">


	<select id="getRegisterNumber" statementType="CALLABLE"  resultType="java.util.HashMap" >
        <![CDATA[
			{call bb_get_temp_rgst_p(
					 #{OS_TEMP_RGST,mode=OUT,jdbcType=VARCHAR}   
			)}
		]]>
    </select>
 
 
 
 	<select id="submit" statementType="CALLABLE"  resultType="java.util.HashMap" >
        <![CDATA[
			{call  bb_uni_orderSub_p  ( 
				#{IS_BIPCODE,mode=IN,jdbcType=VARCHAR} ,
				#{IS_TEMP_RGST_NO,mode=IN,jdbcType=VARCHAR} ,
                #{IS_SERVICE_KIND_STR,mode=IN,jdbcType=VARCHAR}, 
                #{IS_FEE_STR,mode=IN,jdbcType=VARCHAR}, 
                #{ON_FLAG,mode=OUT,jdbcType=INTEGER}  , 
                #{OS_PROMPT,mode=OUT,jdbcType=VARCHAR}, 
                #{ON_FEE_STATUS,mode=OUT,jdbcType=VARCHAR}  
              ) 
			 }
		]]>
    </select>
 
 	<select id="auto" statementType="CALLABLE"  resultType="java.util.HashMap" >
        <![CDATA[
			{call  BB_MODIFY_CONTROL_ACTION_P  ( 
				#{IS_REGISTER_NUMBER,mode=IN,jdbcType=VARCHAR} ,
				#{IS_ACCEPT_CITY,mode=IN,jdbcType=VARCHAR} ,
                #{IN_SERVICE_KIND,mode=IN,jdbcType=VARCHAR}, 
                #{IS_SERVICE_ID,mode=IN,jdbcType=VARCHAR}, 
                #{IN_APPLY_EVENT,mode=IN,jdbcType=VARCHAR}, 
                #{IN_ACTION,mode=IN,jdbcType=VARCHAR}, 
                #{IS_DEPARTMENT,mode=IN,jdbcType=VARCHAR}, 
                #{IS_OPER_PERSON,mode=IN,jdbcType=VARCHAR}, 
                #{ON_FLAG,mode=OUT,jdbcType=INTEGER}  , 
                #{OS_PROMPT,mode=OUT,jdbcType=VARCHAR} 
              ) 
			 }
		]]>
    </select>
 	
 	

</mapper>
