<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.open.capacity.activiti.mapper.ActAssigneeMapper">

  <resultMap id="BaseResultMap" type="com.open.capacity.activiti.entity.ActAssignee">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="sid" jdbcType="VARCHAR" property="sid" />
    <result column="assignee" jdbcType="VARCHAR" property="assignee" />
    <result column="role_id" jdbcType="VARCHAR" property="roleId" />
    <result column="assignee_type" jdbcType="INTEGER" property="assigneeType" />
    <result column="activti_name" jdbcType="VARCHAR" property="activtiName" />
  </resultMap>

  <sql id="Base_Column_List">
    id, sid, assignee, role_id, assignee_type, activti_name
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from act_assignee
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from act_assignee
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <delete id="deleteByNodeId" parameterType="java.lang.String">
    delete from act_assignee
    where sid = #{sid,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.open.capacity.activiti.entity.ActAssignee">
    <selectKey resultType="String" keyProperty="id" order="BEFORE">
      select replace(uuid(),"-","") from dual
    </selectKey>
    insert into act_assignee (id, sid, assignee, 
      role_id, assignee_type, activti_name
      )
    values (#{id,jdbcType=VARCHAR}, #{sid,jdbcType=VARCHAR}, #{assignee,jdbcType=VARCHAR}, 
      #{roleId,jdbcType=VARCHAR}, #{assigneeType,jdbcType=INTEGER}, #{activtiName,jdbcType=VARCHAR}
      )
  </insert>

  <insert id="insertSelective" parameterType="com.open.capacity.activiti.entity.ActAssignee">
    <selectKey resultType="String" keyProperty="id" order="BEFORE">
      select replace(uuid(),"-","") from dual
    </selectKey>
    insert into act_assignee
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sid != null">
        sid,
      </if>
      <if test="assignee != null">
        assignee,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="assigneeType != null">
        assignee_type,
      </if>
      <if test="activtiName != null">
        activti_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="sid != null">
        #{sid,jdbcType=VARCHAR},
      </if>
      <if test="assignee != null">
        #{assignee,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="assigneeType != null">
        #{assigneeType,jdbcType=INTEGER},
      </if>
      <if test="activtiName != null">
        #{activtiName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>


  <update id="updateByPrimaryKeySelective" parameterType="com.open.capacity.activiti.entity.ActAssignee">
    update act_assignee
    <set>
      <if test="sid != null">
        sid = #{sid,jdbcType=VARCHAR},
      </if>
      <if test="assignee != null">
        assignee = #{assignee,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="assigneeType != null">
        assignee_type = #{assigneeType,jdbcType=INTEGER},
      </if>
      <if test="activtiName != null">
        activti_name = #{activtiName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>


  <update id="updateByPrimaryKey" parameterType="com.open.capacity.activiti.entity.ActAssignee">
    update act_assignee
    set sid = #{sid,jdbcType=VARCHAR},
      assignee = #{assignee,jdbcType=VARCHAR},
      role_id = #{roleId,jdbcType=VARCHAR},
      assignee_type = #{assigneeType,jdbcType=INTEGER},
      activti_name = #{activtiName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>


  <select id="selectListByPage" parameterType="com.open.capacity.activiti.entity.ActAssignee" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    from act_assignee
    <where>
      <if test="sid!=null and sid!=''"> and sid = #{sid}</if>
      <if test="roleId!=null and roleId!=''"> and role_id = #{roleId}</if>
    </where>
  </select>


</mapper>